@import '../../sass/utils/abstract';

.mainContainer {
  height: 100%;
  animation: fadeIn ease 0.5s;
}

.content {
  margin-top: 24px;
}

.insightWrapper {
}

.customerListWrapper {
  height: calc(100vh - 200px);
}
