@import '../../../sass/utils/abstract';

.mainWrapper {
  margin-top: 35px;
  .liveWaiting {
    margin: 0px -8px;
  }
  .mainFactors {
    margin: 0px -8px;
    margin-top: 16px;
    height: 139px;
  }
}
