@import '../../../sass/utils/abstract';

.mainContainer {
  width: calc(100% - 16px);
  height: 100%;
  margin: 0px 8px;
  .titleWrapper {
    .title {
      font-weight: bold;
    }
  }
  .contentWrapper {
    display: flex;
    width: calc(100% + 20px);
    height: calc(100% - 22px);
    margin: 0px -12px;
    margin-bottom: -11px;
    margin-top: 8px;
    overflow-x: auto;
  }
}
.empty {
  margin-left: 11px;
  margin: auto;
  color: $text-black-50;
  font-weight: normal;
}
.line {
  border-top: 1px solid $text-black-50;
  width: 30%;
}

.factor {
  width: calc(50% - 6px);
  background: $chart-blue-10;
  border-radius: 8px;
  padding: 10px 8px;
  margin: 0px 4px;
  .icon {
    margin-left: 2px;
  }
  .label {
    margin-top: 5px;
    font-weight: 900;
  }
  .description {
    margin-top: 3px;
    font-weight: 500;
    color: $text-black-50;
    line-height: 16px;
  }
}

.icon {
  svg {
    path {
      fill: $area-blue-text;
      stroke: transparent;
    }
    path[stroke-linecap='round'] {
      fill: transparent;
      stroke: $area-blue-text;
    }
    rect,
    circle {
      stroke: $area-blue-text;
    }
  }
}
