@import '../../sass/utils/abstract';

.avatarWrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  > div {
    margin-bottom: px2rem(10);
  }
  p {
    margin: px2rem(2) 0;
    color: inherit;
  }
}

.formTitle {
  margin-top: 20px;
  color: inherit;
}
