@import '../../../sass/utils/abstract';

.mainWrapper {
  margin-left: -8px;
  margin-top: 24px;
  position: relative;
  display: flex;
}
.left {
  width: 310px;
  margin: 0px 8px;

  .overallWaitingTimeWrapper {
  }

  .peopleByAreaWrapper {
    margin-top: 20px;
  }
}

.right {
  margin: 0px 8px;
  width: calc(100% - 330px);
}
