@import '../../../sass/utils/abstract';

.mainWrapper {
  display: flex;
}

.imageWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 120px;
}

.formWrapper {
  flex: 1;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.centerConfigForm {
  > label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 14px;
    color: $dark-text;
    > input,
    > textarea {
      border: 1px solid $gray;
      border-radius: 6px;
      padding: 5px;
      color: $dark-text;
    }
  }
}
