@import '../../../sass/utils/abstract';

.cameraListWrapper {
  height: 75%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 20px;
}

.addNewCameraBtn {
  flex: 0 0 auto;
  width: 250px;
  margin-right: 20px;
  height: 100%;
  box-shadow: 0 0 5px 0;
  font-size: 28px;
}

button.addNewCameraBtn:after {
  content: '';
  display: block;
  right: -2rem;
  width: 2rem;
  height: 1px;
}

.nextBtn {
  line-height: 0px;
  padding: 15px;
  float: right;
  margin-right: 25px;
}
