@import '../../../sass/utils/abstract';

.mainContainer {
  margin-top: 24px;
}
.title {
  line-height: 17px;
  margin-bottom: 16px;
  padding-left: 16px;
}

.content {
  padding: 2px 0px;
  max-height: 500px;
  overflow: auto;
  .blockWrapper {
    margin-bottom: 20px;
    height: 88px;
  }
}
.journeyWrapper {
  > div {
    padding: 10px 10px 10px 17px;
  }
  &:last-child {
    margin-bottom: 0px;
    .arrows {
      display: none !important;
    }
  }
}

.journeyContent {
}
.journeyIconWrapper {
  display: flex;
  align-items: center;
}
.journeyIcon {
  border: 1px solid $chart-blue-30;
  box-sizing: border-box;
  border-radius: 50%;
  width: 56px;
  min-width: 56px;
  height: 56px;
  display: flex;
  svg {
    path {
      fill: $chart-blue-100;
      stroke: transparent;
    }
    path[stroke-linecap='round'] {
      fill: transparent;
      stroke: $chart-blue-100;
    }
    rect,
    circle {
      stroke: $chart-blue-100;
    }
  }
}
.journeyDetails {
  margin-left: 12px;
}
.areaName {
  line-height: 16px;
}

.areaDescription {
  margin-top: 3px;
  color: $text-black-50;
  font-weight: 500;
  line-height: 16px;
}
.areaInfo {
  margin-top: 4px;
  .areaHX {
    color: $chart-blue-100;
    margin-right: 5px;
  }
  .areaDwellTime {
    color: $text-black-50;
  }
}

.arrows {
  position: absolute;
  top: 78px;
  left: 41px;
  span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $chart-blue-30;
    display: block;
    margin-bottom: 8px;
  }
}
