@import '../../../../sass/utils/abstract';

.inputWrapper {
  padding: 10px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  label {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
}

.btnGroup {
  display: flex;
  justify-content: space-around;
  button:first-child {
    font-size: 12px;
    padding: 2px;
    margin-right: 5px;
  }
}
