@import '../../sass/utils/abstract';

.mainContainer {
  height: 100%;
  animation: fadeIn ease 0.5s;
}

.content {
}

.relevantIndicatorsWrapper {
  margin-top: 34px;
}

.topJourneysWrapper {
  margin-top: 24px;
}
